---

#accessPoints:
#  myService:
#    title: 'My remote service'
#    host: <host>
#    port: 9999
#    token: '***'
#    noConsul: true # Use if the service developers do not provide registration in consul
#    consulServiceName: <consulServiceName>

consul:
  check:
    interval: '10s'
    timeout: '5s'
    deregistercriticalserviceafter: '3m'
  agent:
    # Credentials for getting information about services in the DEV DC
    dev:
      dc: 'dc-dev'
      host: 'consul.entapp.work'
      port: 443
      secure: true
      # Token for getting information about DEV services
      token: '***'
    # Credentials for getting information about services in the PROD DC
    prd:
      dc: 'dc-prd'
      host: 'consul.entapp.work'
      port: 443
      secure: true
      # Token for obtaining information about PROD services
      token: '***'
    # Credentials for registering the service with Consul
    reg:
      # The host of the consul agent where the service will be registered. If not specified, the server on which the service is running is used
      host: null
      port: 8500
      secure: false
      # Token for registering the service in the consul agent
      token: '***'
  service:
    enable: true # true - Allows registration of the service with the consul
    name: <name> # <name> will be replaced by <package.json>.name at initialization
    instance: 'instance-0' # This value will be specified as a suffix in the id of the service
    version: <version> # <version> will be replaced by <package.json>.version at initialization
    description: <description> # <description> will be replaced by <package.json>.description at initialization
    tags: [] # If null or empty array - Will be pulled up from package.keywords at initialization
    meta:
      # "About" page link template
      who: 'http://{address}:{port}/'
  envCode: # Used to generate the service ID
    prod: <envCode.prod> # Production environment code
    dev: <envCode.dev> # Development environment code

db:
  postgres:
    dbs:
      main:
        label: 'My Database'
        host: ''  # To exclude the use of the database, you need to set host = ''
        port: 5432
        database: <database>
        user: <user>
        password: <password>
        usedExtensions: []

logger:
  level: info
  useFileLogger: true # To use or not to use logging to a file
  # dir: # logging folder

mcp:
  transportType: http # stdio | http
  # Response format configuration.
  # - structuredContent - default - the response in result.structuredContent returns JSON
  # - text - in the response, serialized JSON is returned in result.content[0].text
  toolAnswerAs: text # text | structuredContent
  rateLimit:
    maxRequests: 100
    windowMs: 60000  # 1 minute

swagger:
  servers:  # An array of servers that will be added to swagger docs
    - url: http://localhost:9876
      description: "Development server (localhost)"
    - url: http://0.0.0.0:9876
      description: "Development server (all interfaces)"

uiColor:
  # Font color of the header and a number of interface elements on the ABOUT page
  primary: '#0f65dc'

webServer:
  host: '0.0.0.0'
  port: 9876
  # array of hosts that CORS skips
  originHosts: ['localhost', '0.0.0.0']
  auth:
    enabled: false # Enables/disables token authorization
    # An array of fixed tokens that pass to the MCP (use only for MCPs with green data or for development)
    permanentServerTokens: []
    token:
      # Symmetric encryption key to generate a token for this MCP
      encryptKey: '***'
      # If webServer.auth.enabled and the parameter true, the service name and the service specified in the token will be checked
      checkMCPName: true
